/*ESTILIZAÇÃO DO CABEÇALHO*/
header {
  background-color: #E6E6E6;
  font-family: Arial, sans-serif;
  text-align: center;
}
/*ESTILIZAÇÃO DE HYPERLINKS*/
a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
#menu {
  height: 100%;
  widows: 100%;
  margin: auto;
}
/*ESTILIZAÇÃO DO MENU*/
#menu {
  height: 100%;
  widows: 100%;
  margin: auto;
}
/*ESTILIZAÇÃO DO HOVER DAS OPÇÕES DO MENU*/
table #menu:hover{
  color: rgb(0, 0, 0);
}
/*ESTILIZAÇÃO DAS OPÇÕES DO MENU*/
a.botoes {
  text-decoration: none;
  color: rgb(48, 46, 46);
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  font-size: 17px;
}
/*ESTILIZAÇÃO DA LOGO*/
table td.logo{
  padding: 15px;
  padding-right: 70px;
  cursor: pointer;
}
/*ESTILIZAÇÃO DO ICON DE LOGIN*/
table td.icon-login {
  padding-left: 35px;
  padding-right: 7px;
  cursor: pointer;
}
/*ESTILIZAÇÃO DO ICON DE SACOLA*/
table td.icon-sacola {
  padding: 10px;
  padding-right: 15px; 
}
/*ESTILIZAÇÃO DO ICON DE PESQUISA*/
table td.icon-search {
  padding: 15px;
}

.searchArea {
  border: solid rgba(102, 102, 102, 0.644);
  border-radius: 8px;
  border-width: 1px; 
}

.iconSearch {
  padding-left: 2px;
  padding-right: 3px;
}

#searchBox {
  border: none;
  cursor: pointer;
  outline: none;
}
/*ESTILIZAÇÃO DA LEGENDA DAS FOTOS*/
figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

figcaption a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
}

figcaption:hover {
  text-decoration: underline;
}
/*ESTILIZAÇÃO DO CONTAINER*/
.container { 
  width: 700px; 
  margin-left: auto;
  margin-right: auto; 
}
#voltar {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(48, 46, 46);
  cursor: pointer;
  padding-left: 320px;
}

#voltar:hover {
  color: rgb(0, 0, 0);
}
/*ESTILIZAÇÃO DAS FOTOS*/
.fotoRoupa {
  cursor: pointer;
}

.foto-legenda {
  position: relative;
}

.foto-legenda img {
  width: 100%;
  height: 100%;
}

.foto-legenda figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0,.4);
  width: 229px;
  height: 307px;;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 1s;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.foto-legenda:hover figcaption{
  opacity: 1;
}
/*ESTILIZAÇÃO DO RODAPÉ*/
footer {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 13px;
}
/*ESTILIZAÇÃO DO ICON DO INSTAGRAM*/
.iconInstagram {
  width: 30px;
  margin-left: 930px;
}
/*ESTILIZAÇÃO DO ICON DO PINTEREST*/
.iconPinterest {
  width: 25px;
}
/*ESTILIZAÇÃO DO ICON DO FACEBOOK*/
.iconFacebook {
  width: 30px;
}
/*ESTILIZAÇÃO DO ICON DO WHATSAPP*/
.iconWhatsapp {
  width: 25px;
}